.custom-navbar {
  background-color: #c3a07d;
}

.custom-header {
  background-color: #c3a07d;
}

.btn-custom {
  background-color: #fff;
  color: #c3a07d;
}

.custom-bg {
  background-color: #c3a07d;
}

.custom-aside {
  background-color: #b78b5f;
}

.custom-btn {
  background-color: #9c8064;
  color: #ffffff;
}

.bg-custom {
  background-color: #f3ede6;
}
